* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* for the background color class */
#bg-color {
  background-color: rgb(25, 202, 164);
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.navbar {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContaner {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.3rem 1.3rem;
  border: 3px solid rgb(25, 202, 164);
  border-radius: 9px;
}

.navContaner h3 {
  font-size: 1.8rem;
  color: rgb(16, 121, 98);
}

.spans {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spans li {
  padding: 0 1.3rem;
  font-size: 1.2rem;
}

.liborder {
  border-right: 3px solid rgb(25, 202, 164);
}

.book-list li {
  width: 100%;
  border-bottom: 4px solid rgb(19, 160, 129);
  border-right: 4px solid rgb(19, 160, 129);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.contact ul li {
  font-size: 1.2rem;
  font-weight: 550;
}

.spans li:hover {
  color: rgb(25, 202, 164);
}

.hero {
  padding: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .hr {
  margin: 3rem;
  border: 1px solid #000;
  width: 17rem;
}

.btn {
  padding: 0.3rem 0.7rem;
  font-size: 1.3rem;
  background-color: rgb(25, 202, 164);
  border: none;
  border-radius: 3px;
}

.hero h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
  color: rgb(19, 160, 129);
}

.booksContaner {
  width: 70%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid rgb(19, 160, 129);
  border-radius: 10px;
}

.asesomeBooks {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.books {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.book-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ulWrapper {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  width: auto;
}

.delete {
  padding: 0.2em 0.4em;
  border: 1px solid #000;
  font-size: 0.8em;
  justify-self: flex-end;
  background-color: rgb(25, 202, 164);
  color: white;
  border-radius: 7px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

.addForm {
  flex-direction: column;
}

#abbBookForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

#abbBookForm input {
  width: 16rem;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

#abbBookForm button {
  box-shadow: 4px 4px 6px rgb(25, 202, 164, 0.6);
}

.contact {
  width: 60%;
  flex-direction: column;
}

.contact h1 {
  font-size: 2.2em;
  align-self: center;
}

.contact h3 {
  font-size: 1.6rem;
}

.contact ul {
  padding: 40px 0 0 10%;
  list-style: disc;
}
